{% extends "base.html" %}

{% block content %}
<p>
    <a href="/tournament/{{ category['tournament']['id']}}">
		{{ category['tournament']['bigname'] }}
	</a>
</p>

<p>
	<h4>
		{{ category['bigname'] }}
	</h4>
</p>

{% if current_user.is_admin %}
<p>
    <form action="/category/{{ category['id'] }}/delete/{{ category['tournament']['id'] }}" class="form-inline" method="post">
	        <a href="/category/{{ category['id'] }}/put" class="btn btn-warning">Редактировать категорию</a>
            &nbsp;
	        <input type="submit" value="Удалить категорию" class="btn btn-danger">
    </form>
</p>
	{% if category['is_started'] %}
		{% if not category['is_finished'] %}
<p>
	<a class="btn btn-success" href="/tour/post/{{ category['id'] }}">
		Создать тур
	</a>
		{% endif %}
	{% endif %}
</p>
{% endif %}
{% for tour in category['tours'] %}

{% endfor %}
{% endblock %}