{% extends "base.html" %}

{% block content %}
<p>
    <a href="/tournament/{{ category['tournament']['id']}}">
		{{ category['tournament']['bigname'] }}
	</a>
</p>

<p>
	<h4>
		{{ category['bigname'] }}
	</h4>
</p>
{% if current_user.is_admin %}
<p>
    <form action="/category/{{ category['id'] }}/delete/{{ category['tournament']['id'] }}" class="form-inline" method="post">
	        <a href="/category/{{ category['id'] }}/put" class="btn btn-warning">Редактировать категорию</a>
            &nbsp;
	        <input type="submit" value="Удалить категорию" class="btn btn-danger">
    </form>
</p>
{% endif %}
{% if category['show_participants'] < 2 %}
	<p>
		<h6>Участники:</h6>
	</p>
	{% for partic in category['participants'] %}
	<p>{{ partic['bigname'] }}</p>
	{% endfor %}
{% endif %}
{% if current_user.is_admin %}
	{% if category['is_started'] %}
		{% if not category['is_finished'] %}
<p>
	<a class="btn btn-success" href="/tour/post/{{ category['id'] }}">
		Создать тур
	</a>
		{% endif %}
	{% endif %}
</p>
{% endif %}
{% for tour in category['tours'] %}
<p>
	<h5>
		{{ tour['bigname'] }}
	</h5>
</p>
	{% for game in tour['games'] %}
<p>
		{{ game["white"]["bigname"] }}
		&nbsp;
		{{ game["result"] }}
		&nbsp;
		{{ game["black"]["bigname"] }}
	<a href="/game/{{ game['id'] }}/put/{{ category['id'] }}" class="btn btn-success">Записать результат</a>
</p>
	{% endfor %}
{% endfor %}
{% endblock %}