{% extends "base.html" %}

{% block content %}
<h1>Добавление турнира</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.game_time.label }}<br>
        {{ form.game_time(class="form-control") }}
        {% for error in form.game_time.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.move_time.label }}<br>
        {{ form.move_time(class="form-control") }}
        {% for error in form.move_time.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.start.label }}<br>
        {{ form.start(class="form-control") }}
        {% for error in form.start.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.game_type_id.label }}<br>
        {{ form.game_type_id(class="form-control") }}
        {% for error in form.game_type_id.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}