{% extends "base.html" %}

{% block content %}
</br>
<p>
    {% if current_user.is_authenticated and current_user.is_admin %}
        <a href="/tournament/post/" class="btn btn-secondary">Добавить турнир</a>
        <a href="/group" class="btn btn-secondary">Группы</a>
        <a href="/user" class="btn btn-secondary">Учащиеся</a>
    {% endif %}
</p>

{% for tournament in tournaments%}
<p>
    <h5>
		<a href='/tournament/{{ids[tournaments.index(tournament)]}}'>
            {{tournament[0]}}
        </a>
    </h5>
</p>
{% endfor %}

{% endblock %}